{% extends 'base.html' %}

{% block content %}
<div class="main">
    <form class="form-group form">
        <label for="value1">Converter:</label>
        <input type="text" id="value1" class="form-control" placeholder="0,00">
        <select name="" id="" class="form-control">
            <option value="1">Milímetro</option>
            <option value="2">Centímetro</option>
            <option value="3">Metro</option>
            <option value="4">Quilometro</option>
        </select>
        <h4>Para:</h4>
        <select name="" id="" class="form-control">
            <option value="1">Milímetro</option>
            <option value="2">Centímetro</option>
            <option value="3">Metro</option>
            <option value="4">Quilometro</option>
        </select>
    </form>
</div>
{% endblock %}